{
    "semi": false,
    "arrowParens": "always",
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
